body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0; 
}

.box {
    width: 200px; 
    height: 200px; 
    position: absolute;
}

.red {
    background-color: rgb(255, 7, 7);
    top: 50%;
    left: 48.5%;
}

.blue {
    background-color: navy;
    top: 23%;
    color: white;
    left: 35.5%;
}

.green {
    background-color: green;
    top: 23%;
    left: 48.5%;
}

.yellow {
    background-color: yellow;
    top: 50%;
    color: black;
    left: 35.5%;
}
